<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="class">
  <test name="Test">
    <classes>
      <class name="TestNG.TcForThreadPoolSize"/>
      <class name="TestNG.TC_07test"/>
      <class name="TestNG.TC_01test"/>
      <class name="TestNG.TC_08TestGroupDepend"/>
      <class name="TestNG.TC_09DataProvider"/>
      <class name="TestNG.TC_03TestInvocationCount"/>
      <class name="TestNG.TC_04test"/>
      <class name="TestNG.TC_06TestGroupDepend"/>
      <class name="TestNG.TC_02TestProirity"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
